
.card{
    max-width: 420px;
    margin: 0 auto;
    background-color: var(--secondary-background-color);
    padding: 3rem 2rem;
    border-radius: 4px;
}



.fieldset{
    display: flex;
    align-items: start;
    flex-direction: column;
    min-width: auto;
}



@media screen and (width > 420px ) {
    .card{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 3rem;
        max-width: 468px;
    }
}